.icon {
    text-decoration: none;
    position: relative;
    font-size:40px;
    color:#a50027;
    display:inline-block;
}
.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}
.icon > .label {
    display: none;
}
.icon1 {
    text-align:center;
}
